.navbar-context,
.navbar-context .navbar-inner {
  background-color: #f3f3f3;
  z-index: 420;
}

.navbar-context .navbar-inner {
  padding-top: 5px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar-context-header {
  line-height: 30px;
  font-size: 15px;
}
